.hamburger:hover > div:nth-child(1){
  background-color: ghostwhite;
  animation-name: top;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  transform: rotateZ(-45deg); translate: 0, 11;
  
}

.hamburger:hover > div:nth-child(2){
  animation-name: middle;
  animation-duration: .1s;
  animation-fill-mode: forwards;
  opacity: 0px;
}

.hamburger:hover > div:nth-child(3){
  background-color: ghostwhite;
  animation-name: bottom;
  animation-duration: 2s;
  animation-fill-mode: forwards;
  transform: rotateZ(5deg); translate: 0, 11;
}

nav {
  opacity: 0;
  transition-duration: 1s;
  transition: 0.4s;
}

.hamburger:hover ~ nav {
  opacity: 1;
}

@keyframes top {
  transform: translate(0, 11px) rotate(-45deg);
}

@keyframes middle {
  from {}
  to {}
}

@keyframes bottom {
}


/* transform: translate(0, 11px) rotate(-45deg);

transform: translate(0, -11px) rotate(45deg); */